<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @interest.user_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @interest.topic_id %>
</p>


<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
